<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Moedas</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">



</head>

<body>
    <main class="container">
        <h1 class="title">Conversor de Moedas</h1>
        <form class="formulario col card p-3 my-5" method="post" th:action="@{/}" th:object="${conversao}">
            <div class="form-group  w-100 p-3">
                <label for="Opcao">Conversão</label>
                <select class="form-control" required th:field="*{codigo}">
                    <option hidden value="">Selecione uma conversão</option>
                    <option class="form-control" th:each="moeda : ${moedas}" th:text="${moeda.descricao}"
                        th:value="${moeda.codigo}">
                    </option>
                </select>
            </div>
            <div class="form-group w-100 p-3">
                <label for="valor"> Valor</label>
                <input type="text" class="form-control" th:field="*{original}"
                    data-inputmask="'alias': 'numeric', 'autoGroup': true, 'digits': 2, 'groupSeparator': '.', 'radixPoint' : ',', 'digitsOptional': false, 'allowMinus' : false, 'prefix': '', 'placeholder': '0'"
                    placeholder="Digite o valor que será convertido..." autocomplete="off" />
            </div>
            <div class="form-group botoes d-flex justify-content-center">
                <input class=" btn btn-primary" type="submit" value="Converter">
                <input class="btn btn-dark" type="reset" value="Cancelar">
            </div>
        </form>
        <div th:if="${userMessage}" th:utext="${userMessage}" class="alert alert-success text-center"></div>
        <table class=" table">
            <thead>
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Conversão </th>
                    <th scope="col"> Original </th>
                    <th scope="col"> Convertido </th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" th:if="${conversoes.empty}">
                    <td colspan="4"> Sem cotações disponíveis </td>
                </tr>
                <tr th:each="conversao : ${conversoes}">
                    <td><span th:text="${conversao.id}"> # </span></td>
                    <td><span th:text="${conversao.codigo}"> Conversão </span></td>
                    <td><span th:text="${conversao.original}"> Valor original </span></td>
                    <td><span th:text="${conversao.convertido}"> Valor convertido </span></td>
                </tr>
            </tbody>
        </table>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{css/jquery.inputmask.min.js}"></script>
    <script>
        $(":input").inputmask();
    </script>
</body>

</html>