<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Moedas</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtValor').mask('000.000.000.000.000,00', { reverse: true });
        });
    </script>


</head>

<body>
    <main class="container">
        <h1 class="title d-flex justify-content-center">Conversor de Moedas</h1>
        <form class="col card p-3 my-5" method="post" th:action="@{/}" th:object="${conversao}">
            <div class="form-group">
                <label for="Opcao">Conversão</label>
                <select class="form-control " id="opcao" required th:field="*{opcao}">
                    <option hidden value="">Selecione uma conversão</option>
                    <option th:each="opcao : ${T(com.conversor.domain.entities.Opcao).values()}" th:text="${opcao}"
                        th:value="${opcao}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="valor"> Valor</label>
                <input class="form-control" type="text" id="txtValor" value=""
                    placeholder="Digite o valor que será convertido..." required />
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Converter">
                <input class="btn btn-dark" type="reset" value="Cancelar">
            </div>
        </form>

        <table class=" table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Conversão</th>
                    <th scope="col">Original</th>
                    <th scope="col">Convertido</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-align-center" th:if="${conversoes.empty}">
                    <td colspan="4"> Sem cotações disponíveis </td>
                </tr>
                <tr th:each="Conversao : ${conversoes}">
                    <td><span th:text="${conversao.opcao}"> Conversão </span></td>
                    <td><span th:text="${conversao.origina}"> Valor original </span></td>
                    <td><span th:text="${conversao.convertido}"> Valor convertido </span></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
</body>

</html>